/* -_- -----------------  ----------------- -_- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  font-family: 'Montserrat', sans-serif;
}
  
body {
  background-color: white;
}

   /* ----------------- ESTILOS HEADER ----------------- */

  header {
    display: flex;
    padding: 10px;
    background-color: #203048;
    height: 15vh;
  }

  .logo-container{
    width: auto;
    flex: 1;
  }
    
  .logo {
    margin: 15px;
    width: 6rem;
    height: auto;
  }
  
  .company-name {
    font-size: 30px;
    color: #c7af43;
    flex: 2;
  } 

.container-nav-list{
  flex:2;
}

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.7rem;
    font-weight: bolder;
  }
  
  ul {
    justify-content: center;
    list-style: none;
    display: flex;
    gap: 20px;
    flex: 6;
    align-items: center;
  }
  
  li {
    margin: 0;
    padding: 0;
  }
  
  i {
    color: white;
    z-index: 2;
  }
  
  .show {
    display: none !important;
  }
  
  .icons {
    font-size: 1.6rem;
    margin-left: 30px;
  }
  .space-icons{
    display: flex;
    justify-content: space-around;
  }
  /* ----------------- ESTILOS MENU HAMBURGUESA ----------------- */
.hidden-container {
  position: relative;
}

.hidden-list {
  list-style-type: none;
  background-color: #754515;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  display: none;
  z-index: 999; 
}

.hidden-list li {
  padding: 20px;
  text-align: center;
  font-size: 1.5em; 
  font-weight: bold; 
  position: relative;
  color: #fff; 
}

.hidden-list li:hover {
  background: linear-gradient(to bottom, #c78943, rgba(226, 149, 120, 0.6));
}

.hidden-list li::before,
.hidden-list li::after {
  content: "";
  position: absolute;
  height: 5px; /* Grosor de las líneas de sombra */
  width: calc(100% + 40px); /* Ancho ajustado para extenderse más allá del contenido del li */
  left: -20px; /* Desplaza a la izquierda la mitad del ancho adicional */
}

.hidden-list li::before {
  top: 0;
}

.hidden-list li::after {
  bottom: 0;
}

.show:hover {
  cursor: pointer;
  background-color: #83C5BE;
  padding: 10px;
  border-radius: 10px;
}
/* ----------------- FINAL ESTILOS HEADER ----------------- */ 

/* -_- ------------ ESTILOS INDEX ------------ -_- */      
.button-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}
  
.login-button,
#cart-button {
  background-color: #203048;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  width: 100px; 
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px; 
  cursor: pointer;
} 

.main-index {
height: 300vh;
/* background-image: url(../images/acompañamiento.png); */
background-size: cover;
}
.promo-container{
  margin: 20px auto 20px 240px
}

.info-a {
  font-size: 18px;
  color: #cccccc;
  text-decoration: none;
  margin: 0 10px;
  transition: all 0.4s ease-in-out;
  &:hover {
      color: #ffffff;
  }
}
.font-custom-container{
 padding: 10px;
background-color: #83C5BE;
 margin-bottom: 2em;

}
.font-custom-title{
  margin-left: 29%;
}
.font-controls-container{
  margin-left: 37%;
}
.ul-index{
  flex-direction: column;
  font-size: x-large;
  font-weight: 600;
  line-height: 50px;
}

/* -_- ----------------- ESTILOS FLOATING SECTION ----------------- -_- */
.floating-section {
  height: 31vh;
  margin: 0;
  padding: 0;
  background: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.8) 0%, rgba(199, 175, 67, 1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(255, 255, 255,0.8) 0%, rgba(199, 175, 67, 1) 100%);
  background: linear-gradient(-135deg, rgba(255, 255, 255,0.8) 0%, rgba(199, 175, 67, 1) 100%);
}
.floating-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.floating-title {
  font-size: 24px;
  margin: 10px 0 0 0;
  font-weight: lighter;
  color: #eeeeee;
}

.floating-p {
    font-size: 12px;
    font-weight: light;
    color: #333333;
}

@keyframes float {
  0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
  }
  50% {
      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
      transform: translatey(-20px);
  }
  100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
  }
}

.avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);

  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  img { width: 100%; height: auto; }
 
}

.content {
  width: 100%;
  max-width: 600px;
  padding: 20px 40px;
  box-sizing: border-box;
  text-align: center;
}



/* -_- ----------------- ESTILOS PARALLAX SECTION ----------------- -_- */





/* -_- ----------------- ESTILOS FLIPCARD SECTION ----------------- -_- */
.flip-card-title-container{
margin-left: 25%;
margin-bottom: 10px;
background-color: gold;
width: 80%;
}
.flip-card-section{

}

.flipcard-container {
  display: flex;
  justify-content: space-around; /* Cambiado de space-around a space-between */
  height: 30vh;
  margin-bottom: 200px;
}

.flipcard {
  perspective: 1000px;
  width: 300px;
  height: 400px;
  position: relative;
  border-radius: 15px; /* Agregado borde redondeado */
  overflow: hidden; /* Para asegurar que los bordes redondeados se apliquen correctamente */
}

.flipcard-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1.5s;
  background-color: red;
}

.flipcard:hover .flipcard-inner {
  transform: rotateX(180deg);
}

.flipcard-front,
.flipcard-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 15px; /* Agregado borde redondeado */
}

.flipcard-front {
  transform: rotateX(0deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flipcard-back {
  transform: rotateX(180deg);
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flipcard img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px; /* Agregado borde redondeado */
}

.flipcard h3 {
  margin-top: 10px;
}

.flipcard p {
  text-align: center;
}   





  /* -_- ------------ FINAL ESTILOS INDEX ------------ -_- */

/*Estilo Login*/

 .login-container{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
 }
 
 .container-form {
     display: flex;
     height: 500px;
     max-width: 900px;
     border-radius: 20px;
     box-shadow: 0 5px 5px rgba(0, 0 ,0 ,.1);
     transition: all 1s ease;
     margin: 10px;
 }
 
 .information {
     width: 40%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     background-color: #c7eef3;
     border-top-left-radius: 20px;
     border-bottom-left-radius: 20px;
 }
 
 .info-childs {
     width: 100%;
     padding: 0 30px;
 }
 
 .info-childs h2 {
     font-size: 2.5rem;
     color: #333;
 }
 
 .info-childs p {
    margin: 15px 0 ; 
    color: #555;
 }
 
 .info-childs input {
     background-color: transparent;
     outline: none;
     border: solid 2px #9191bd;
     border-radius: 20px;
     padding: 10px 20px;
     color: #9191bd;
     cursor: pointer;
     transition: background-color .3 ease;
 }
 
 .info-childs input:hover {
     background-color: #9191bd;
     border: none;
     color: #fff;
     box-shadow: 0 2px 5px rgba(0, 0 ,0 ,.1);
 }
 
 .form-information {
     width: 60%;
     display:flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     justify-content: center;
     background-color: #f8f8f8;
     border-top-right-radius: 20px;
     border-bottom-right-radius: 20px;
 }
 
 .form-information-childs {
     padding: 0 30px;
 }
 
 .form-information-childs h2 {
     color: #333;
     font-size: 2rem;
 }
 .form-information-childs p {
     color: #555;
 }
 
 .icons {
     margin: 15px 0 ;
 }
 
 .icons i {
    cursor: pointer;
    width: 5rem;
    height: 5rem;
 }
 .icons i:hover {
     background-color: #c7c7f3;
     color: #fff;
 }
 
 
 .form label {
     display: flex;
     align-items: center;
     margin-bottom: 15px;
     border-radius: 20px;
     padding: 0 10px;
     background-color: #fff;
     box-shadow: 0 2px 5px rgba(0 ,0 ,0 , .1);
 }
 .form label input {
     width: 100%;
     padding: 10px;
     background-color: #fff;
     border: none;
     outline: none;
     border-radius: 20px;
     color: #333;
 }
 .form label i {
     color: #a7a7a7;
 }
 
 .form input[type="submit"] {
     background-color: #9191bd;
     color: #fff;
     border-radius: 20px;
     border: none;
     padding: 10px 15px;
     cursor: pointer;
     margin-top: 10px;
     box-shadow: 0 2px 5px rgba(0 ,0 ,0 , .1);
 }
 
 .form input[type="submit"]:hover {
     background-color: #7a7a9a;
 }
 
 .hide{
   position: absolute;
   transform: translateY(-300%); 
 }

/* Fin del login*/

/*Estilos para la página de Products*/


.product-nav ul{
  list-style: none;
  font-size: 15px;
  background-color: #90ccd1;
  display: grid;
  grid-template-columns: 20% 20% 20%;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
  margin: 20px 5% 10px 5%;
  border-radius: 5px;

}

.product-nav li{
  list-style: none;
  font-size: 15px;
  background-color: #90ccd1;
}

.product-nav a{
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;

}

.products {
  padding: 0 0 100px 0;
  text-align: center;
}

.products-h2 {
  font-size: 20px;
  color: #203048;
  margin: 20px 80px 20px 10px;
  background-color: #f3d28a;
  text-align: left;
  padding-left: 8px;
  border-radius: 3px;
}

.product-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  height: 100%;
}

.product {
  text-align: center;
  box-shadow: 0 0 10px #f3d28a;
  padding: 35px;
  width: 20em;
}

.product img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.product h3 {
  color:#203048;
}

.product p {
  font-size: 15px;
  margin: 0;
  color:#203048;
  font-weight: 600;
}

.btn-2 {
  display: inline-block;
  margin-top: 15px;
  padding: 7px 25px;
  border-radius: 25px;
  color: azure;
  background-color: #91422B;
}
@-webkit-keyframes extend {
  0% {
      width: 120px;
      height: 40px;
  
      left: 50%;
  } 
  10% {
      width: 122px;
      height: 42px;
      background: #fff;
      margin-left: -6px;
      margin-top: -6px;
  } 
  20% {
      width: 120px;
      height: 40px;
      background: #C78943;
      margin-left: 0px;
      margin-top: 0px;
  } 
  100% {
      width: 40px;
      height: 40px;
      border-radius: 0;
      margin-left: 38px;
      transform: translateX(-150%); /* Añade esta propiedad para centrar el botón */
  }
}

@keyframes extend {
  0% {
      width: 120px;
      height: 40px;
      border-radius: 20px;
      left: 50%;
  } 
  10% {
      width: 122px;
      height: 42px;
      background: #fff;
      margin-left: -6px;
      margin-top: -6px;
  } 
  20% {
      width: 120px;
      height: 40px;
      background: #C78943;
      margin-left: 0px;
      margin-top: 0px;
  } 
  100% {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      margin-left: 38px;
      background: red;
      transform: translateX(-150%); /* Añade esta propiedad para centrar el botón */
  }
}

@-webkit-keyframes disappear {
  0% {
      opacity: 1;
  } 
  100% {
      opacity: 0;
  }
}

@keyframes disappear {
  0% {
      opacity: 1;
  } 
  100% {
      opacity: 0;
  }
}

.wishlist-container {
width: 100%;
height: 40px;
margin-top: 15px;
position: relative; /* Agrega position: relative; al contenedor padre */
text-align: center; /* Para centrar el contenido horizontalmente */
}

.wishlist-button {
border-width: 1px;
width: 120px;
height: 40px;
border-radius: 20px;
background: #fff;
position: absolute;
border: 1px solid #C78943;
transform: translateX(-50%); /* Añade esta propiedad para centrar el botón */

}

.wishlist-text {
font-size: 9.6px;
color: #C78943;
}

.wishlist-button:focus {
-webkit-animation: extend 1s ease-in-out;
-ms-animation: extend 1s ease-in-out;
animation: extend 1s ease-in-out;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;
}

.wishlist-button:focus > .wishlist-text {
-webkit-animation: disappear 1s ease-in-out;
-ms-animation: disappear 1s ease-in-out;
animation: disappear 1s ease-in-out;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;
}

.heart-icon {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
max-width: 20%;
max-height: 20%;
display: none;
}

.wishlist-button:focus > .heart-icon {
display: block;
}

/*Fin productos*/

/*      PÁGINA DE SERVICIOS    */

.services-section{
  margin: 5rem 2rem;
  height: auto;
}
.title-section {
  color: #fafafa;
  margin: 40px;
  height: 35px;
  margin-top: 30px;
  background-color: #c78943;
  padding-left:12px;
  box-shadow: 0 8px 10px #838080;
}

.position-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #91422b;
  height: auto;
  margin: 60px; 
  font-size: 20px;
  margin-top: 15px;
}

.compra {
  display: flex;
  justify-content: space-between;
  color: #91422b;
  height: auto;
  margin: 40px;
  flex-direction: row-reverse;
  font-size: 20px;
  margin-top: 15px;
}

.position-section img:hover, .compra img:hover, img:hover {
  transform: scale(1.10);
}

.imageneser {
  border-radius: 25px;
  box-shadow: 0 10px 18px #000000;
  width: 30vw;
  height: 20rem;
}

.info-container {
 
  height: 100%;
  margin: 40px 80px;
  text-align: justify;
}

.info-container ul{
  list-style-type: disc;
  display: block;
  margin-left: 2rem;
}

.butser {
  background-color: #c78943;
  margin-left: 240px;
  margin-top:20px;
  color: #ffff;
  padding: 7px 25px;
  box-shadow: 0 0 10px #754515 inset;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.butser:hover {
  color:#c78943;
  background-color:#ffff ;
  transform: scale(1.10);
}


/* Fin página de servicios */


/*      PÁGINA DE CONTACTO    */
.central{
  display: flex;
}
.todo h2{
  margin: 2% 10%;
}
.datos {

  font-size: 1.25rem;
  font-weight: bold;
}
.subrayar{
  text-decoration: underline gold;

}
.mapa{
  margin-left: 10%;
}
.formulario{
display: flex;
margin-left: 5%;
 flex-wrap: wrap;
 width: 35%;
 background-color: #90CCD1;
 border-radius: 2%;
 margin-bottom: 2%;
 padding: 1%;
 justify-content: center;
}
.formulario input{
  margin: 2% 2%;
  width: 95%;
  padding: 3%;
  border-radius: 15px;
  border: 1px solid;
  border-color: #dadada;

}
textarea{
  margin-left: 2%;
  width: 360px;
  border-radius: 2%;
  border-radius: 15px;
  border: 1px solid;
  border-color: #dadada;
}
.enviar{
  background: #203048;
  border-radius: 2%;
  color: white;
}
.autorizo{
  margin-left: 60%;
  width: 40%;
}
/* Fin de la seccion de contacto */

/*      PÁGINA DE ABOUTUS    */

.article-container {
  background-color: #F3D28A;
  border-radius: 10px;
  padding: 40px;
  margin: 20px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
}
.article-container img {
    border-radius: 10px; /* Añade bordes redondeados si es necesario */
  }

.parrafo-about-us {
  flex: 1;
  padding: 10px; 
  margin: 15px;
}

.titulo {
  color: #ffffff;
  background-color: #91422b;
  font-size: 30px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.text-about-us {
  color: #91422b;
  margin: 30px;
  font-size: 25px;
}

.botonemail {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c78943;
  font-size: 25px;
  margin: 30px;
}

.botonemail input[type="email"] {
font-size: 20px;
margin: 1rem;
}

.botonemail input[type="submit"] {
  background-color: #91422b; 
  color: #fff; 
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

.botonemail input[type="submit"]:hover {
  background-color: #69311d; /* Cambia el color al pasar el mouse sobre el botón */
}

.agradecimiento {
text-align: center;
color: #c78943;
font-size: 35px;
}

/* Fin de la seccion de About */


/*Footer*/

.footer {
    position: relative;
  width: 100%;
  background-color: #203048;
  height: 15vh;
  padding: 20px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  }

.contact-footer{
  display: flex;
  flex-direction: column;
  width: 31rem; 
  align-items: center;
  gap: 0.7rem;
  }

.button-send{
  width: 6rem;
  
}

.input-email-footer{
  width: 30rem;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-iconitem,
.menuitem {
  list-style: none;
}

.social-iconlink {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-iconlink:hover {
  transform: translateY(-10px);
}

.menulink {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menulink:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

/*Responsive*/ /*con responsabilidad*/
 

/*Responsive*/ /*con responsabilidad*/
 
@media screen and (max-width: 1120px) {
   html {
   font-size: 12px;
  } 
/* HEADER */
header {
  width: auto;
}

.show {
  display: block !important;
  font-size: xx-large;
}

ul {
  display: none;
}

/* FIN HEADER*/
  .letra {
    font-size: 14px;
    padding-left: 18%;
    margin-right: 5%;
  }

  .logo img {
    width: 100px;
    height: 90px;
  }

  
  .company-name h1 {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
  }

  .button-container {
    display: flex;
    width: 25%;
  }

  .nav-links {
    list-style: none;
    display: flex;
    padding: 8px;
    margin: 20px 5%;
    text-align: right;
    justify-content: center;
    width: 100px;
    flex-direction: column;
    align-items: center;
  }

  .background-image {
    height: 65vh;
  }
  /* Fin de estilos para la sección de Home */

  /* Estilos para la sección de Servicios */
  .services-section {
    height: auto;
  }
  .position-section, .compra {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .imageneser {
    width: 30rem;
    height: 20rem;
  }

  .info-container {
    margin: 5rem;
  }

  .butser {
    margin-left: 80px;
  }

  .title-section {
    height: 2rem;
    font-size: 12px;
  }
  /* Fin de estilos para la sección de Servicios */

  /* Estilos para la sección de Productos */
  .product-nav ul {
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: left;
    padding: 10px;
  }

  .products-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
  }

  .product {
    padding: 10px;
  }

  .products #gluten, #lacteos, #frutos {
    padding: 20px;
  }
  /* Fin de estilos para la sección de Productos */

  /* Estilos para la sección de Contacto */
  .central {
    display: flex;
    flex-wrap: wrap;
  }

  section .central {
    margin-top: 0;
  }

  iframe {
    width: 150%;
  }

  .formulario {
    margin: 5% 10%;
    width: 80%;
  }

  textarea {
    width: 95%;
  }

  .autorizo {
    margin-left: 10%;
    width: 60%;
  }
  /* Fin de estilos para la sección de Contacto */

   /*      PÁGINA DE ABOUTUS    */
    
   .article-container {
      flex-direction: column;
       align-items: center;
    }

    .article-container img {
      max-width: 50rem;
   }

   .parrafo-about-us{
      margin: 10px;
      width: 100%;
    }

    #image-with-text {
      display: flex;
      flex-direction: column-reverse;
    }

    .titulo {
      font-size: 20px;
    }
  
    .text-about-us {
      font-size: 16px;
    }
  
    .agradecimiento {
      font-size: 24px;
    }
    
  /* FIN       PÁGINA DE ABOUTUS     */
}

@media screen and (max-width: 767px) {
  html {
    font-size: 10px;
  }

  .container-form {
    height: auto;
    flex-direction: column;
  }

  .information,
  .form-information {
    width: 100%;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }




  .letra {
    font-size: 14px;
    padding-left: 50%;
  }

  .logo img {
    width: 100px;
    height: 90px;
  }

  .company-name h1 {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
  }

  .button-container {
    display: flex;
    width: 25%;
  }

  .nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    width: 100px;
  }

  .background-image {
    height: 65vh;
  }

  /* Estilos para la sección de Servicios */

  .services-section {
    height: auto;
    align-items: center;
  }

  .position-section, .compra {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

.info-container{
  margin-left: 0;
}

  .butser {
    margin-left: 80px;
  }

  .title-section {
    height: 2rem;
    font-size: 12px;
  }
  /* Fin de estilos para la sección de Servicios */

  /* Estilos para la sección de Productos */
  .product-nav ul {
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: left;
    padding: 10px;
  }

  .products-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
  }

  .product {
    padding: 10px;
  }

  .products #gluten, #lacteos, #frutos {
    padding: 20px;
  }
  /* Fin de estilos para la sección de Productos */

  /* Estilos para la sección de Contacto */
  .central {
    display: flex;
    flex-wrap: wrap;
  }

  section .central {
    margin-top: 0;
  }

  iframe {
    width: 100%;
  }

  .formulario {
    margin: 5% 10%;
    width: 80%;
  }

  textarea {
    width: 95%;
  }

  .autorizo {
    margin-left: 10%;
    width: 60%;
  }
  /* Fin de estilos para la sección de Contacto */

   /*      PÁGINA DE ABOUTUS    */

  .titulo {
    font-size: 18px;
  }

  .text-about-us {
    font-size: 14px;
  }

  .botonemail{
    flex-direction: column;
  }
  
  .agradecimiento {
    font-size: 20px;
  }

  .article-container img {
    max-width: 100%;
    }

  /* FIN      PÁGINA DE ABOUTUS    */
  
  /*Footer*/

}

/* Fin del responsive */


/* Estilos de mensaje de validacion de formularios*/

.mensaje-error {
  color: red!important;
  font-size: 0.7rem;
}